body {
	background-color: #2d2937;
	font-family: 'Source Code Pro', monospace;
	color: #0defe1;
	font-size: 13px;
}

b, h3 {
	color: #1ffeb0;
}

a {
	color: #1ffeb0;
	text-decoration: none;
	-webkit-transition: background 0.5s; /* safari */
	transition: background 0.5s;
}

a:hover {
	background-color: #27706a;
	-webkit-transition: background 0.5s; /* safari */
	transition: background 0.5s;
}

::selection {
	background: #27706a;
}

#container {
	padding-top: 60px;
	margin: 0 auto;
	max-width: 500px;
	padding-left: 30px;
	padding-right: 30px;
}

.links {
	padding-top: 20px;
	font-size: 12px;
}

.tiny b {
	color: #44404f;
}

.tiny {
	color: #514d5e;
	padding-top: 50px;
	font-size: 10px;
}