::selection {
	background: #44BBE3;
}

body {
	background-color: #262626;
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: white;

}

#about a {
	text-decoration: none;
	color: white;
	box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #8670cd;
	transition: 1s;
}

#about a:hover {
	box-shadow: inset 0 0px 0 white, inset 0 25px 0 #8670cd;
}

@media only screen and (min-width: 600px) {
	#nav {
		background: none;
		position: fixed;
		width: 140px;
		height: 80px;
		top: 0%;
		left: 0px;
		z-index: 1000000;
		display: none;
	}
}

/* for mobile sites and small windows */
#nav {

}

#main {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;

	background-image: url(bg.svg);
	background-size: contain;
	background-color: #262626;
	background-position: top right;
	background-repeat: no-repeat;

	padding: 0.8em;
	color: white;
	height: 60vh;
	overflow: auto;
	padding-top: 30vh;
	padding-left: 5vw;
}
#main a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding-right: 7px;
	padding-left: 2px;
	transition: 1s;
	box-shadow: inset 0 0px 0 white, inset 0 -6px 0 #44BBE3;
}
#main a:hover {
	/*background-color: #44BBE3;*/
	box-shadow: inset 0 0px 0 white, inset 0 33px 0 #44BBE3;
	background-color: transparent;
}

#main a:hover ~ #hidden {
	opacity: 100;
}

#hidden {
	transition: 2s;
	opacity: 0;
}


@media only screen and (max-width: 800px) {
	#hidden {
		opacity: 100;
	}
}

#heading {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 28px;
	letter-spacing: 2px;
	padding-bottom: 0.8em;
}

#about {
	background-color: #44BBE3;
	background-size: 100%;

	padding-top: 8vh;
	padding-right: 8vw;
	padding-left: 8vw;
	padding-bottom: 8vh;
	overflow: auto;
	position: relative;
	text-align: center;
}
#about .photo {
	pointer-events: none;
	user-select: none;

	height: 150px;
	border-radius: 50% 50% 0% 50%;
	margin-right: 40px;
	margin-left: 40px;
	vertical-align: top;
}
#about .text {
	padding-top: 10px;
	text-align: left;
	min-width: 20vw;
	display: inline-block;
}

#about .interest {
	width: 50%;
	float: left;
	display: inline-block;
}

#about .button {
	border: 2px solid white;
	border-radius: 7px;
	border-width: 1px;
	color: white;
	padding: 5px 5px;
	box-shadow: none;
	text-decoration: none;
}

#about .button:hover {
	background-color: white;
	color: #44BBE3;
}


#chartdiv {
	top: 0;
	left: 0;
	z-index: -100;
	background-color: #44BBE3;
		width: 100%;
		height: 40vh;
}


.text b {
	font-weight: bold;
	background-color: #6AC6E6;

}

#skills {
	background-color: none;
	background-size: 100%;
	overflow: auto;
	position: relative;
	text-align: center;
	padding-top: 8vh;
	padding-bottom: 8vh;
	overflow: auto;
}

.skill {
	width: 320px;
	min-width: 20vw;
	display: inline-block;
	padding: 3vh 3vh 3vh 3vh;
	vertical-align: top;
}

.skill b {
	font-family: 'Montserrat', sans-serif;
}

.skill img {
	width: 70px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.skill hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(38, 38, 38, 0), rgba(193, 193, 193, 0.75), rgba(38, 38, 38, 0));
}

.blue a {
	text-decoration: none;
	color: white;
	transition: 1s;
	box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #44BBE3;
}

.blue a:hover {
	box-shadow: inset 0 0px 0 white, inset 0 25px 0 #44BBE3;
}

.purple a {
	text-decoration: none;
	color: white;
	transition: 1s;
	box-shadow: inset 0 0px 0 white, inset 0 -5px 0 #8670cd;
}

.purple a:hover {
	box-shadow: inset 0 0px 0 white, inset 0 25px 0 #8670cd;
}

#projects {
	text-align: center;
	overflow: auto;
}

#project {
	padding-top: 10px;
}

.readmore {
	border: none;
	color: white;
	padding: 2px 5px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	border-radius: 5px;
	float: right;
	font-family: 'Source Sans Pro', sans-serif;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    float: right;
}

#design .readmore {
	background-color: #8670cd;
}

#design .readmore:hover {
	background-color: #44BBE3;
	border: 1px solid #8670cd;
}

#develop .readmore {
	background-color: #44BBE3;
}

#develop .readmore:hover {
	background-color: #8670cd;
	border: 1px solid #44BBE3;
}

.tags {
	padding-top: 30px;
	font-size: 14px;
}

.tag {
	padding: 2px 5px;
	border-radius: 5px;
	margin-left: 5px;
	float: left;
}

#design .tag {
	background-color: #B5DDEB;
	color: #8670cd;
}

#develop .tag {
	background-color: #B5DDEB;
	color: #8670cd;
}
.description b {
		font-size: 18px;
		font-family: 'Montserrat', sans-serif;
	}

@media only screen and (min-width: 800px) {
	#develop {
		position: absolute;
		padding-top: 10vh;
		padding-bottom: 10vh;
		padding-right: 5vh;
		float: left;
		width: 100%;
		background-color: #8670cd; /*purple*/
		vertical-align: top;
		overflow: hidden;
		right: 50%;
		text-align: right;
		z-index: 0;
		transition: width 0.8s;
		height: 60vh;
	}

	#develop:hover {
		z-index: 400;
		width: 100%;

	}

	#design { 
		position: absolute;
		padding-top: 10vh;
		padding-bottom: 10vh;
		padding-left: 5vh;
		width: 50%;
		background-color: #44BBE3; /*blue*/
		float: right;
		vertical-align: top;
		overflow: hidden;
		left: 50%;
		z-index: -1;
		text-align: left;
		transition: z-index 2s, width 0.8s;
		height: 60vh;
	}

	#design:hover {
		z-index: 400;
		width: 100%;
		transition: z-index 2s, width 0.8s;
	}

	#design img {
		display: inline-block;
		width: 40vw;
		float: left;
		padding-left: 20px;
		vertical-align: top;
		width: 40vw;
	}

	#design .description {
		display: block;
		position: relative;
		padding-left: 50vw;
		width: 30vw;
		vertical-align: top;
	}

	#develop img {
		display: inline-block;
		float: right;
		width: 40vw;
		vertical-align: top;
	}

	#develop .description {
		display: inline-block;
		width: 30vw;
		position: relative;
		padding-right: 7vw;
	}

}

@media only screen and (max-width: 800px) {

	#projects img {
		width: 100%;
		padding-top: 20px;
		width: 100%;
		display: inline-block;
	}

	#develop {
		padding-top: 10vh;
		padding-bottom: 10vh;
		background-color: #8670cd;
	}

	#design {
		padding-top: 10vh;
		padding-bottom: 10vh;
		background-color: #44BBE3;
	}

	.description {
		width: 320px;
		display: inline-block;
		padding-top: 30px;
		font-size: 16px;
	}
}