@import url("https://fonts.googleapis.com/css?family=Merriweather:400,400i,700|PT+Mono");
html, body {
  background-color: #f2f2f3;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  font-family: "PT Mono", monospace; }

::selection {
  /* WebKit/Blink Browsers */
  background: #e0e0e0; }

::-moz-selection {
  /* Gecko Browsers */
  background: #e0e0e0; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: red; }

mark {
  background-color: #fdf59c; }

.vert-line {
  border-left: 1px solid #e0e0e0;
  height: 100px;
  position: relative;
  display: inline-block;
  left: 50%;
  margin-top: 20px; }

.section-header {
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: bold;
  text-align: left;
  position: relative;
  padding-bottom: 40px;
  color: #303030; }
  .section-header mark {
    background-color: #e0e0e0; }

nav {
  position: fixed;
  background-color: #303030;
  width: 100%;
  z-index: 99999;
  font-size: 14px;
  top: 0; }
  nav #nav-items {
    padding-bottom: 10px; }
  nav #home {
    float: left; }
  nav .nav-item {
    margin: 0;
    padding: 10px;
    float: right; }
  nav .nav-item a {
    text-decoration: none;
    color: white;
    font-weight: normal; }
  nav .nav-item a:hover {
    text-decoration: line-through; }
  nav .current-page {
    color: green; }

#hero {
  height: 100%;
  width: 100%;
  background-color: #303030;
  color: #ffffff; }
  #hero .container {
    position: absolute;
    padding-left: 90px;
    bottom: 100px; }
  #hero #title {
    font-family: "Merriweather", serif;
    font-size: 72px;
    font-weight: bold; }
  #hero .highlight-on-scroll {
    color: #fdf59c; }

#about {
  height: 80%;
  background-color: #f2f2f3;
  color: #303030;
  width: 100%;
  padding-top: 100px;
  position: relative; }
  #about .desc {
    padding-top: 20px;
    width: 300px;
    font-size: 13px;
    text-align: center;
    display: block;
    margin: 0 auto; }
  #about .resume {
    margin: 0 auto;
    text-align: center;
    padding-top: 30px; }
    #about .resume a {
      font-family: "Merriweather", serif;
      font-style: italic;
      font-size: 16px;
      border: 2px solid #303030;
      padding: 10px 20px 10px 20px;
      text-decoration: none; }
    #about .resume a:hover {
      background-color: #e0e0e0;
      padding: 10px 20px 10px 20px;
      text-decoration: none; }
  #about a {
    text-decoration: underline;
    font-weight: bold;
    color: #303030;
    -webkit-transition: background-color 0.5s;
    /* Safari */
    transition: background-color 0.5s; }
  #about a:hover {
    text-decoration: underline;
    background-color: #fdf59c;
    -webkit-transition: background-color 0.5s;
    /* Safari */
    transition: background-color 0.5s; }
  #about .readmore {
    font-size: 11px; }

#experiences {
  height: auto;
  background-color: #f2f2f3;
  width: 100%;
  padding-top: 30px; }
  #experiences .container {
    width: 60%;
    margin: 0 auto; }
  #experiences .section-header {
    padding-left: 90px; }
  #experiences .experience {
    height: auto; }
  #experiences .description {
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: right;
    -webkit-transition: margin-right 0.5s;
    /* Safari */
    transition: margin-right 0.5s; }
  #experiences .company {
    font-weight: bold;
    font-size: 14px; }
  #experiences .dates {
    font-size: 12px;
    font-color: #e0e0e0; }
  #experiences .tagline {
    width: 70%;
    font-family: "Merriweather", serif;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    -webkit-transition: margin-left 0.5s;
    /* Safari */
    transition: margin-left 0.5s; }
  #experiences .tagline a {
    text-decoration: none;
    color: #303030; }
  #experiences .tagline:hover {
    margin-left: 40px;
    -webkit-transition: margin-left 0.5s;
    /* Safari */
    transition: margin-left 0.5s; }
  #experiences .tagline:hover + .description {
    margin-right: 40px;
    -webkit-transition: margin-right 0.5s;
    /* Safari */
    transition: margin-right 0.5s; }
  #experiences .description:hover + .hover {
    margin-left: 40px;
    -webkit-transition: margin-left 0.5s;
    /* Safari */
    transition: margin-left 0.5s; }

#projects {
  padding-top: 30px;
  height: auto;
  min-height: 100%; }
  #projects .container {
    width: 80%;
    margin: 0 auto;
    text-align: center; }
  #projects .section-header {
    padding-left: 90px; }
  #projects .project {
    text-align: left;
    margin: 15px;
    width: 350px;
    height: 350px;
    background-color: #e0e0e0;
    position: relative;
    display: inline-block; }
  #projects .project:hover {
    top: -8px; }
  #projects .description {
    position: absolute;
    padding: 40px; }
  #projects .project-name {
    font-weight: bold;
    font-size: 28px;
    font-family: "Merriweather", serif;
    font-style: italic; }
  #projects .project a {
    text-decoration: none;
    color: #303030; }
  #projects .project-summary {
    padding: 10px; }
  #projects .project-stack {
    position: relative;
    bottom: 0; }
  #projects .stack-item {
    display: inline;
    font-size: 11px; }

#footer {
  width: 100%;
  bottom: 0;
  position: relative;
  text-align: center;
  background-color: #e0e0e0;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 20px; }
  #footer a {
    margin: 3px;
    text-decoration: none; }
  #footer svg {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 25px;
    width: 25px; }
  #footer path {
    fill: #ffffff;
    -webkit-transition: all 0.5s;
    /* Safari */
    transition: all 0.5s; }
  #footer path:hover {
    fill: #303030;
    -webkit-transition: all 0.5s;
    /* Safari */
    transition: all 0.5s; }
  #footer .red {
    color: #e24949; }
  #footer .email a {
    color: #303030;
    font-weight: bold;
    text-decoration: underline;
    -webkit-transition: all 0.5s;
    /* Safari */
    transition: all 0.5s; }
  #footer .email a:hover {
    background-color: #fdf59c;
    -webkit-transition: all 0.5s;
    /* Safari */
    transition: all 0.5s; }
  #footer .text {
    padding-top: 30px;
    font-size: 11px; }
